# The releng team is by default the owner of everything.
*             @eclipse-dirigible/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-dirigible/eclipsefdn-security
